{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django htmx patterns</title>
    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'css/base_bulma.scss' %}">
    {% endcompress %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="{% static 'js/htmx-1.9.4.js' %}"></script>
    <script defer src="{% static 'js/idiomorph-ext-0.0.8.js' %}"></script>
    {% block extrahead %}
    {% endblock %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% if messages %}
      <ul class="messagelist">{% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}</ul>
    {% endif %}
    <main>
      {% block main %}{% endblock %}
    </main>
  </body>
</html>
