{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django htmx patterns</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="{% static 'js/htmx-1.9.4.js' %}"></script>
    {% block extrahead %}
    {% endblock %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% if messages %}
      <ul class="messagelist">{% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}</ul>
    {% endif %}
    {% block body %}{% endblock %}
  </body>
</html>
