{% extends "base.html" %}
{% block body %}
  <h1>Django HTMX patterns home page</h1>

  <p>This is an example app to accompany the documentation at <a href="https://github.com/spookylukey/django-htmx-patterns">https://github.com/spookylukey/django-htmx-patterns</a>
  </p>

  <ul>
    <li><a href="{% url 'headers_demo' %}">headers_demo</a></li>
    <li><a href="{% url 'simple_post_form' %}">HTMX post using form</a></li>
    <li><a href="{% url 'post_without_form' %}">HTMX post without form</a></li>
    <li><a href="{% url 'toggle_with_separate_partials' %}">Toggle interface using separate partials</a></li>
    <li><a href="{% url 'paging_with_separate_partials' %}">Paging using separate partials</a></li>
    <li><a href="{% url 'paging_with_separate_partials_improved' %}">Paging using separate partials, improved</a></li>
    <li><a href="{% url 'paging_with_inline_partials' %}">Paging using inline partials</a></li>
    <li><a href="{% url 'paging_with_inline_partials_improved' %}">Paging using inline partials, improved</a></li>
  </ul>
{% endblock %}
