{% extends "base.html" %}

{% block body %}
  <h1>Make some monsters</h1>

  <p>This demos using a normal POST form with an htmx button inside it</p>

  <p>Click below to make monsters</p>

  <form>
    {% csrf_token %}
    How many: <input type="number" name="howmany" value="1">
    <button
      hx-post="{% url 'post_form_endpoint' %}"
      hx-trigger="click"
      hx-target="#monsters-created"
      hx-swap="beforeend"
    >Make some!
    </button>

  </form>

  <p id="monsters-created">
  </p>

{% endblock %}
